<!DOCTYPE html>
  <html lang="en-US">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Portable Early Warning Module</title>
      <link href = "static/img/logo.svg" rel="icon">
      <link rel="stylesheet" href="static/css/components.css">
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
      <link rel="stylesheet" href="static/css/icons.css">
      <link rel="stylesheet" href="static/css/responsee.css">
      <link rel="stylesheet" href="static/owl-carousel/owl.carousel.css">
      <link rel="stylesheet" href="static/owl-carousel/owl.theme.css">
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	  <script type="text/javascript" src="static/js/jquery-1.8.3.min.js"></script>
      <script type="text/javascript" src="static/js/jquery-ui.min.js"></script>
   </head>
   <body class="size-960">
      <!-- HEADER -->
      <div class="header" id="myHeader">
         <div class="line">
            <div class="box">

					<div class="row">
						<div class="col-sm-2"><center><b><a href="index.html"><img src="static/img/logo.svg" style="width:104.6px;height:65.2px" ></a>
						Welcome to PEWM</b></center></div>
						<div class="col-sm-4"><h4>Let us Help you <br><br>Your Safety is our Motto</h4></div>

						<br><br><div class="col-sm-2" style="vertical-align: middle;"><a href="https://google.com"><font color="red">Go to</font></a></div>

						<div class="col-sm-4">
							<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

							<form action="">
								<input type="search">
								<i class="fa fa-search"></i>
							</form>
						</div>

					</div>
			</div>
         </div>
         <!-- TOP NAV -->
         <div class="line">
            <nav class="margin-bottom">
               <p class="nav-text">Custom menu text</p>
               <div class="top-nav s-12 l-10" style="color:white">
                  <ul>
                     <li><a>Home</a></li>
                     <li>
                        <a>Sensor Live Data</a>
                        <ul>
                            <li><a>Sensor 1</a></li>
                            <li><a>Sensor 2</a></li>
                            <li><a>Sensor 3</a></li>
                        </ul>
                     </li>
                     <li>
                        <a>Authoritarian Links</a>
                        <ul>
                           <li><a>Know More</a></li>
                           <li><a>Location</a></li>
                        </ul>
                     </li>
                      <li><a href="https://rescuemission.org">Emergency Dial</a></li>
                      <li><a href="static/img/header-1.svg">Contact Us</a></li>
                  </ul>
               </div>
               <div class="hide-s hide-m l-2">
                  <i class="icon-facebook_circle icon2x right padding"></i>
               </div>
            </nav>
         </div>
      </div>
      <script type="text/javascript" src="static/js/scrollfix.js"></script>

	  <section>
         <!-- CAROUSEL -->
         <div class="line">
            <div id="header-carousel" class="owl-carousel owl-theme margin-bottom">
               <div class="item"><img src="static/img/RK1.jpg" alt=""></div>
               <div class="item"><img src="static/img/RK2.jpg" alt=""></div>
               <div class="item"><img src="static/img/RK3.jpg" alt=""></div>
            </div>
         </div>
         <!-- HOME PAGE BLOCK -->
         <div class="line">
            <div class="margin">
               <div class="s-12 m-6 l-6 margin-bottom">
                  <div class="box">
                     <h2><br>Emergency First Aid Tips:<br></h2>
                     <p><br>You will find everything for your safety right here...<br></p>
                      <div class="center">
                          <p><i><br><br><font size="5"><br>"Get to your Nearest Relief Camp"</font></i><br></p>
                      </div>
                  </div>
               </div>

               <div class="s-12 m-6 l-6 margin-bottom">
                  <div class="box">
                     <!-- TradingView Widget BEGIN -->
                     <!-- <div class="tradingview-widget-container">
                       <div class="tradingview-widget-container__widget"></div>
                       <div class="tradingview-widget-copyright"><a href="https://in.tradingview.com/markets/stocks-india/market-movers-gainers/" rel="noopener" target="_blank">                     <span class="blue-text">Stock Market</span></a> by TradingView</div>
                       <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-hotlists.js" async>
                         {
                           "exchange": "BSE",
                       "showChart": true,
                       "locale": "in",
                       "largeChartUrl": "",
                       "width": "100%",
                       "height": "600",
                       "plotLineColorGrowing": "rgba(60, 188, 152, 1)",
                       "plotLineColorFalling": "rgba(255, 74, 104, 1)",
                       "gridLineColor": "rgba(242, 243, 245, 1)",
                       "scaleFontColor": "rgba(214, 216, 224, 1)",
                       "belowLineFillColorGrowing": "rgba(60, 188, 152, 0.05)",
                       "belowLineFillColorFalling": "rgba(255, 74, 104, 0.05)",
                       "symbolActiveColor": "rgba(242, 250, 254, 1)"
                     }
                       </script>
                     </div> -->
                     <!-- TradingView Widget END -->
                  </div>
               </div>
            </div>
         </div>
         <!-- ASIDE NAV AND CONTENT -->

         <!-- GALLERY CAROUSEL -->
         <div class="line text-center">
            <h2 class="margin-bottom">Emergency Contact</h2>
            <div id="gallery-carousel" class="owl-carousel owl-theme margin-bottom">
                  <div class="line">
            		<div class="margin">
                  <div class="s-12 m-6 l-11 margin-bottom">
                  <div class="box">
                     <img src="static/img/p1.jpg" style="width:100%">

        				<h2>Vishnu V</h2>
       					<p class="title">Rapid Response Team</p>
       					<p>Phone: 8848651099</p>
        				<p>blackgen629@gmail.com</p>
        				<p><button class="button">Contact</button></p>

                  </div>
                  </div>
                  </div>
              </div>
               </div>
            </div>
         </div>
      </section>
      <!-- FOOTER -->
      <footer class="line">
         <div class="box">
            <div class="s-12 l-6">
               <p>Copyright 2020, Vision_design - Solver-E</p>
            </div>
            <div class="s-12 l-6">
               <a class="right" href="http://www.myresponsee.com" title="Responsee - lightweight responsive framework">Design and coding by Solver-E</a>
            </div>
         </div>
      </footer>
      <script type="text/javascript" src="static/js/responsee.js"></script>
      <script type="text/javascript" src="static/owl-carousel/owl.carousel.js"></script>

      <script type="text/javascript">
        jQuery(document).ready(function($) {
          var owl = $('#header-carousel');
          owl.owlCarousel({
            nav: true,
            dots: true,
            items: 1,
            loop: true,
            navText: ["&#xf007","&#xf006"],
            autoplay: true,
            autoplayTimeout: 3000
          });
          var owl = $('#gallery-carousel');
          owl.owlCarousel({
            nav: false,
            dots: true,
            loop: true,
            navText: ["&#xf007","&#xf006"],
            autoplay: true,
            autoplayTimeout: 3000,
            responsive: {
              0: {
                items: 1
              },
              769: {
                items: 2
              },
              960: {
                items: 4
              }
            }
          });
        })
      </script>
   </body>
</html>
