<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Google Map</title>
    <style>
        #map{
        height:400px;
        width:400px;
        }
    </style>
</head>
<body>
<h1>My Google Map</h1>
<div id="map">
    <script>
        function initMap(){
        var options = {
        zoom:13,
        center:{lat:10.7867, lng:76.6548}
        }
        var map = new google.maps.Map(document.getElementById('map'), options);
        var marker = new google.maps.Marker({
        position:{lat:42, lng:-70},
        map:map
        });
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCildbMFG_k4joPct_kBF2uoseMBzTct-U&callback=initMap">

    </script>
</div>
</body>
</html>