<link rel="stylesheet" href="/css/layout.css">


<h1> Welcome &#128512; </h1>
<h3> To Authentication </h3>

<img 
    src="https://securityintelligence.com/wp-content/uploads/2018/10/si-advanced-authentication-feature.jpg" 
    style="  width: 442px;"
>

<a href="/signup" class="btn btn-in btn-dark "> Sign Up </a>
<a href="/signin" class="btn btn-in btn-dark "> Login In</a>