


<div class="contanier">
    <div class="row">
        <h3>Log Me In</h3>
    </div>
</div>


<form action="/auth/login" method="post">
    <div class="form-group">
        <input type="text" name="email" id="" placeholder="Enter your email" required><br><br>
        <input type="password" name="password" id="" placeholder="Enter your password" required>
    </div>
    <button class="btn btn-dark btn-in btn-lg" type="submit">Login</button>
</form>



<a href="/auth/google" class="btn btn-dark btn-lg btn-social"> 
    <i class="fab fa-google"></i>
    Login Using Google
</a>

<a href="/signup" style="align-items: right;"> Or want to Register yourself <i class="fas fa-arrow-right"></i></a>