<a href="/auth/signout">Sign out</a>
    


<img src="https://static.skaip.org/img/emoticons/180x180/f6fcff/hi.gif" alt="">


<h1>  <%= locals.user.name %>   </h1>
<h4>    Hope you are doing well </h4>

<h5>
    <%= locals.user.email %> 
</h5>
 

<a href="/reset"> Reset Password </a> 